.menu {
    background: #3d4043;
    color: white;
    height: 100vh;
    padding: 20px;
    position: relative;
}

.menu img {
    margin-bottom: 30px;
}

.menu-links {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    background: #3d4043;
   
    
}

.menu-links li {
    margin: 20px 0;
    font-size: 20px;
    cursor: pointer;
    background: #3d4043;
}



.menu-links li:hover {
    color: #bfc3c7;
}

.usuario {
    margin-top: 40px;
    font-size: 18px;
    color: antiquewhite;
}

.admin {
    font-size: 14px;
    color: #ccc;
}

.voltar {
    position: absolute;
    bottom: 80px;
    left: 20px;
    font-size: 22px;
    cursor: pointer;
}

.conteudo {
    background: #bfc3c7;
    height: 100vh;
    padding: 30px;
}

.titulo {
    background: #3d4043;
    color: white;
    padding: 15px;
    width: 900px;
    margin: 60px auto;
    font-size: 24px;
    border-radius: 6px;
}