.containerBarraLateral {
    background-color: #656565;
    color: #FFF;
    height: 100vh;
    position: relative;
}

.containerBarraLateral button {
    color: #FFF;
}

.containerBarraLateral .list-group a {
    background-color: transparent;
    color: #FFF;
    border-color: #777;
}

.containerBarraLateral .list-group a:hover {
    background-color: #555;
    color: #FFF;
}

.containerBarraLateralPerfil {
    position: absolute;
    bottom: 50px;
    color: #FFF;
}