.menu {
    background: #3d4043;
    color: white;
    height: 100vh;
    padding: 20px;
    position: relative;
}

.conteudo {
    background: #bfc3c7;
    height: 100vh;
    padding: 30px;
}

.titulo {
    background: #3d4043;
    color: white;
    padding: 15px;
    width: 900px;
    margin: 60px auto;
    font-size: 24px;
    border-radius: 6px;
}